#####
# Common Include
Include "common.conf"
AllowToUpdateStatsFromBrowser=1


####
# Domain Specific
LogFile="{{ task.log_file  }}"
SiteDomain="{{ task.site_name }}"
HostAliases="{{ item.site_aliases | join(" ") }}"

