#####
# Common Include
Include "common.conf"
AllowToUpdateStatsFromBrowser=1


####
# Domain Specific
LogFile="{{ apache_log_dir  }}/sites-{{ item.org }}.log"
SiteDomain="{{ item.name }}"
HostAliases="{{ item.aliases }}"

