#!/bin/sh
rdiff-backup \
    --exclude '**/.git' \
    --exclude '**/.svn' \
    --exclude '**/.ssh' \
    --include /etc \
    --include /home \
    --include /root \
    --exclude / \
    --print-statistics \
    / {{ backup_files_target }}
    