---
{% if awstats_sites_list is undefined %}
{% set awstats_sites_list = awstats_enabled_list %}
{% endif %}

awstats_sites_normalized:
{% for item in awstats_sites_list %}
{% for config in item.awstats_configs | default([{'template': awstats_default_config}]) %}
  - { name: "{{ item.name }}",
      org: "{{ item.org | default(apache_sites_default_org) }}",
      filename: "awstats.{{ config.name | default(item.name) }}.conf",
      template: "{{ config.template }}",
      aliases: "{% if item.awstats_alias %}item.awstats_alias{% elif item.apache_alias is defined and item.apache_alias %}{{ item.apache_alias }}{% endif %}",
    }
{% endfor %}
{% endfor %}
