# MultiPlatform varnishncsa options for sysvinit script

{% if ansible_os_family == 'Debian' %}
VARNISHNCSA_ENABLED=1
USER=root
{% else %}
PIDFILE=/var/run/varnishncsa.pid
{% endif %}

LOGFILE={{ VARNISH_NCSALOG_FILE }}
LOG_FORMAT="{{ VARNISH_NCSALOG_FORMAT}}"

DAEMON_OPTS="-a -w ${LOGFILE} -D -P ${PIDFILE} -F ${LOG_FORMAT}"

