{% if apache_sites_list is undefined %}
{% set apache_sites_list = apache_sites_enabled_list %}
{% endif %}

apache_sites_list:
{% for item in  apache_sites_list %}
  - { name: "{{ item.name }}",
      repo: "{{ item.repo }}",
      branches: {{ item.branches | default("['master']") }},
      dir: "{{ apache_sites_user_home }}/{{ item.org | default(apache_sites_default_org) }}/{{ item.name }}",
      docroot: "{{ item.docroot | default(apache_sites_default_docroot) }}",
      template: "{{ item.template | default(apache_sites_default_template) }}",
      {% if apache_sites_mysql_list[item.name] is defined %}
        mysql: True,
        mysql_dbs: {{ apache_sites_mysql_list[item.name] }}
      {% else %}
        mysql: False
      {% endif %}
    }
{% endfor %}