<VirtualHost *:80>
        ServerName {{ item.name }}
        DocumentRoot {{ apache_sites_user_home }}/{{ item.org | default(apache_sites_default_org)  }}/{{ item.name }}-{{ item.branch | default('master') }}/{{ item.docroot | default(apache_sites_default_docroot) }}
        <Directory {{ apache_sites_user_home }}/{{ item.org | default(apache_sites_default_org)  }}/{{ item.name }}-{{ item.branch | default('master') }}/{{ item.docroot | default(apache_sites_default_docroot) }}>
                Options FollowSymLinks
                AllowOverride None
        </Directory>
</VirtualHost>
