{% if apache_sites_list is undefined %}
{% set apache_sites_list = apache_sites_enabled_list %}
{% endif %}

apache_sites_normalized:
{% for item in  apache_sites_list %}
  - { name: "{{ item.name }}",
      git_repo: {% if item.git_repo is defined and item.git_repo %}"{{ item.git_repo }}"{% else %}False{% endif %},
      branches: {{ item.branches | default("['master']") }},
      dir: "{{ apache_sites_user_home }}/{{ item.org | default(apache_sites_default_org) }}/{{ item.name }}",
      docroot: "{{ item.docroot | default(apache_sites_default_docroot) }}",
      template: "{{ item.template | default(apache_sites_default_template) }}",
      mysql: {% if apache_sites_mysql_list[item.name] is defined %}{{ apache_sites_mysql_list[item.name] }}{% else %}[]{% endif %},
    }
{% endfor %}