<VirtualHost *:80>
        ServerName {{ item.name }}
        
        {% if item.apache_alias %}ServerAlias {{ item.apache_alias }}{% endif %}
        
        CustomLog {{ apache_log_dir  }}/sites-{{ item.org }}.log {{ apache_sites_default_apache_logformat }}
        
        DocumentRoot {{ item.path }}/{{ item.docroot }}
        <Directory {{ item.path }}/{{ item.docroot }}>
                Options FollowSymLinks
                
                # apache_sites recommends disabling overrides for performance. 
                #   consider adding your .htaccess content via an include,
                #   or enable by setting allow_override: True in site definition
                AllowOverride {{ item.allow_override }}
        </Directory>
</VirtualHost>
