#!/bin/sh

SERVICE="{{ task.service }}"

{{ os_service_cmd }} $SERVICE status

if [ $? -ne 0 ] ; then 
    echo "ERROR: $SERVICE was not running. Auto-Restarting..."
    {{ os_service_cmd }} $SERVICE restart
    exit 1
fi

exit 0
    