#!/bin/bash

SERVICE="{{ task.service }}"

{{ os_service_file }} $SERVICE status

if [ $? -ne 0 ] ; then 
    echo "ERROR: $SERVICE was not running. Auto-Restarting..."
    service $SERVICE restart
    exit 1
fi

exit 0
    