---
{% if apache_sites_list is undefined %}
{% set apache_sites_list = apache_sites_enabled_list %}
{% endif %}

apache_sites_normalized:
{% for item in  apache_sites_list %}
  - { name: "{{ item.name }}",
      org: "{{ item.org | default(apache_sites_default_org) }}",
      apache_config: "{{ item.apache_config | default(apache_sites_default_apache_config) }}",
      apache_alias: "{% if item.apache_alias is defined and item.apache_alias %}{{ item.apache_alias }}{% else %}{{ item.name | regex_replace('^www\.','') }}{% endif %}",
      apache_serveradmin: "{{ item.apache_serveradmin | default(apache_sites_default_apache_serveradmin) }}",
      access_logfile: "{{ item.access_logfile | default(apache_log_dir + '/sites-' + item.org | default(apache_sites_default_org) + '.log' ) }}",
      path: {{ apache_sites_user_home }}/{{ item.org | default(apache_sites_default_org) }}/{{ item.name }},
      docroot: "{{ item.docroot | default(apache_sites_default_docroot) }}",
      mysql: {% if apache_sites_mysql_list[item.name] is defined %}{{ apache_sites_mysql_list[item.name] }}{% else %}[]{% endif %},
      allow_override: "{% if item.allow_override is defined and item.allow_override %}All{% else %}None{% endif %}",
      ip: "{{ item.ip | default('*') }}",
      port: "{{ item.port | default(apache_http_port) }}",
      
      {% if item.ssl is defined and item.ssl %}
      ssl: True,
      ssl_ip: "{{ item.ssl_ip | default('*') }}",
      ssl_port: "{{ item.ssl_port | default(apache_https_port) }}",
      ssl_key: "{{ item.ssl_key | default(pcd_certs_dir + '/' + item.name + '.key') }}",
      ssl_crt: "{{ item.ssl_crt | default(pcd_certs_dir + '/' + item.name + '.crt') }}",
      apache_config: "{{ item.apache_config | default(apache_sites_default_apache_config_ssl) }}",
      {% else %}
      ssl: False,
      {% endif %}
      
      {% if item.git_repo is defined and item.git_repo %}
      git: True,
      git_repo: "{{ item.git_repo }}",
      git_branch: {{ item.git_branch | default("master") }},
      git_path: "{{ apache_sites_git_path }}/{{ item.git_repo | regex_replace('[\ \<\>\|\\\/\:\,\;\&\*\?]*','') }}-{{ item.git_branch | default("master") }}",
      {% else %}
      git: False,
      {% endif %}
      
      {% if item.redirect_url is defined and item.redirect_url %}
      apache_config_includes: ['redirect'],
      redirect_url: "{{ item.redirect_url }}",
      {% else %}
      apache_config_includes: {{ item.apache_config_includes | default([]) }},
      {% endif %}
      
    }
{% endfor %}
